.account-content {
    border-radius: 15px;
    background: -webkit-linear-gradient(#141415, #14213d);
    background: -moz-linear-gradient(#141415, #14213d);
    background: -o-linear-gradient(#141415, #14213d);
    background: linear-gradient(180deg, rgba(20, 20, 21, 1) 45%, rgba(20, 33, 61, 1) 60%);

    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    background-size: auto 50rem;
    background-position: 0 -10rem;

}

.account-article-card{
    transition: 100ms ease-out;
}
.account-article-card:hover{
    transform: scale(1.04);
} 

.account-article-card:hover .account-content {
    background-position: 0rem -22rem;
}

.account-article-card:focus .account-content {
    background-position: 0rem -22rem;
}



.account-back {
    height: 335px;
}

.account-img-back {
    height: 100%;
    width: 100%;
}

.account-ava {
    height: 300px;
    width: 300px;
    min-width: 300px;
    margin-top: -10%;
    border-radius: 10px;
    border-style: solid;
    border-width: 0;
}

.account-ava-img {
    border-radius: 10px;
    border-style: solid;
    border-width: 0;
}