.custom-dark-link:hover :focus {
    outline: none;
    border-bottom: 2px solid var(--dark-color);
}
:root {
    --dark-color: #191919;
    --sub-dark-color: #14213D;
    --accent-color: #FCA311;
    --light-color: #FFFFFF;
    --sub-light-color: #E5E5E5;
}

.btn {
    border: none !important;
}

.round-button {
    border-radius: 5px;
}

.opacity-button {
    opacity: 93%;
    transition: 200ms ease-in-out;
}

.opacity-button:hover {
    opacity: 100%;
}

.light-link {
    color: var(--light-color) !important;
    text-decoration: none;
    transition: 50ms ease-in-out;
}

.light-link:hover {
    color: var(--sub-light-color) !important;
}

.dark-link {
    color: var(--dark-color) !important;
    text-decoration: none;
    border-bottom: none;
    transition: 50ms ease-in;
}
 



