.base
{
  
       background-size:cover;
       height:100vh;
       width:100%;
       display:flex;
       justify-content:center;
       align-items:center;
    
}
.loginContainer {
    background-color: white;
    padding: 40px;
    border-radius:20px;
}

.loginForm .input {
    border:none;
    border-bottom:2px solid black ;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    
}
.loginForm .input::placeholder {
    font-family: 'Agency FB';
    font-style: none;
    text-decoration: none;
    
   color: black;
    font-size: 22px;
}


