.footer {
  background-color: var(--sub-dark-color);
  color: var(--light-color);
  font-family: "Agency FB";
}

.z-100 {
  z-index: 100;
}

@media screen and(max-width:700px) {
  .adaptive {
    font-size: small !important;
  }
}

.hidden {
  opacity: 0;
  transition: 200ms ease-in-out;
}

.opacity-trigger:hover .hidden {

  opacity: 100;
}


.opacity-100 {
  opacity: 100% !important;
}

.opacity-75 {
  opacity: 75% !important;
}

.opacity-50 {
  opacity: 50% !important;
}

.opacity-25 {
  opacity: 25% !important;
}

.slide-image {
  height: 350px;
  width: 600px
}

.parent {
  height: '300px';
  width: '225px';
  transition: 150ms ease-in-out;
}

.child {
  border: none;
}

.parent:hover {
  transform: scale(1.15);
}

.parent:hover .child {
  transform: scale(1);
}