@font-face {
    font-family: 'OCR-A';
    src: url('fonts/OCR-A\ Regular.ttf');
  }
  
  @font-face {
    font-family: "YU Gothic UI";
    src: url('fonts/yugothib.ttf');
  }
  
  @font-face {
    font-family: 'Agency FB';
    src: url('fonts/Agency\ FB.TTF');
  }

.ocr {
    font-family: 'OCR-A' !important;
    letter-spacing: 0.1em;
}

.agency {
    font-family: 'Agency FB' !important;
    letter-spacing: 0.02em;
}

.yu-gothic {
    font-family: "YU Gothic UI" !important;
    letter-spacing: 0.01em;
}

.text-x-large {
    font-size: 2.3em !important;
}

.text-larger {
    font-size: x-large !important;
}

.text-large {
    font-size: larger !important;
}

.text-super-xx-large {
    font-size: 4.2em;
}

.text-super-x-larger {
    font-size: 4em;
}

.text-super-larger {
    font-size: 2.7em;
}

.text-super-large {
    font-size: 2em;
}

.line {
    background-color: white !important;
    width: 700px !important;
    height: 3px !important;
    opacity: 0.9 !important;
    border: none !important;
}

.line-dark {
    background-color: var(--dark-color);
    height: 3px !important;
    border: none;
    border-radius: 5px;
}