@font-face {
    font-family: 'OCR-A';
    src: url('fonts/OCR-A\ Regular.ttf');
  }
  
  @font-face {
    font-family: "YU Gothic UI";
    src: url('fonts/YuGothM.ttc');
  }
  @font-face {
    font-family: "YU Gothic UI Bold";
    src: url('fonts/YuGothB.ttc');
  }
  @font-face {
    font-family: 'Agency FB';
    src: url('fonts/Agency\ FB.TTF');
  }

.ocr {
    font-family: 'OCR-A' !important;
    letter-spacing: 0.1em;
}

.agency {
    font-family: 'Agency FB' !important;
    letter-spacing: 0.02em;
}

.yu-gothic {
    font-family: "YU Gothic UI Bold" !important;
    letter-spacing: 0.01em;
}
.yu-gothic-medium {
    font-family: "YU Gothic UI" !important;
    letter-spacing: 0.01em;
}

.text-x-large {
    font-size: 2.3em !important;
}



.text-super-x-larger {
    font-size: 4em;
}

.agency-headers h1,h2,h3,h4,h5,h6 {
    font-family: 'Agency FB' !important;
    letter-spacing: 0.02em;
}

.line {
    background-color: white !important;
    width: 700px !important;
    height: 3px !important;
    opacity: 0.9 !important;
    border: none !important;
}

.line-dark {
    background-color: var(--dark-color);
    height: 3px !important;
    border: none;
    border-radius: 5px;
}